.carousel-item {
  height: 100%; /* Adjust the height as needed */
  overflow: hidden; /* Ensure that any overflow is hidden */
}

.carousel-inner {
  /* Set the height of the carousel container */
  height: 450px; /* Adjust this value as needed */
  overflow: hidden;
}

.carousel-item img {
  /* Set the height of the carousel images */
  height: 100%; /* Ensure the image covers the full height of the carousel */
  object-fit: cover; /* Ensure the image covers the area without distortion */
}
/* src/carousel.css */

/* src/carousel.css */

.color-btn {
  color: white;
  font-weight: 900px;
}
